{% extends 'conftheme/2021/parts/base.html'%}
{% block head %}
<title>FlaskCon 2021</title>
{% endblock %}
{% block body %}
<p class="pb-16 bg-red-500"></p>
<section class="pb-20 bg-blueGray-200">
    <p class="p-5 bg-transparent"></p>
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="container bg-white rounded-xl shadow-lg transform transition duration-500 p-7">
                <h3 class="text-3xl">Code of Conduct</h3><br><br>
                <hr>
                <div class="mt-3">
FlaskCon is a diverse community who maintains a reputation as a friendly, welcoming, inspiring and dynamic group. We’d like to keep it that way, which is why we ask all participants, speakers, organizers and sponsors (collectively: the attendees) to follow this code of conduct (CoC).

If you have questions regarding this CoC, please see our CoC FAQ below or contact the FlaskCon CoC WG. Your questions will only be seen by the members of the CoC workgroup and treated confidentially.

<h3 class="text-2xl mt-3">Be nice to each other</h3>
We trust that attendees will treat each other in a way that reflects the widely held view that diversity and friendliness are strengths of our community to be celebrated and fostered.

Furthermore, we believe attendees have a right to:

be treated with courtesy, dignity and respect;

be free from any form of discrimination, victimization, harassment or bullying;

enjoy an environment free from unwelcome behavior, inappropriate language and unsuitable imagery.

<h3 class="text-2xl mt-3">Be professional and don’t spam</h3>

We consider FlaskCon a great setting to showcase the work of the community and would like to encourage networking and business related discussions, as well as keep the conference presentations meaningful and interesting for everyone.

We therefore:

<ul>
    <li>only allow company marketing or recruiting related activities at the conference in accordance with our sponsor agreements;</li>
    <li>request presentations - outside the official recruiting sessions - to focus on Python related topics, not on recruitment.</li>
    <li>The FlaskCon Sponsor WG will be happy to answer any questions related to marketing or recruiting activities.</li>
</ul>






<h3 class="text-2xl mt-3">Solving problems</h3>
If problems covered by this code of conduct arise, please contact one of FlaskCon CoC contacts listed below or any other FlaskCon organizer directly and in private. Any complaint will remain confidential, be taken seriously, investigated, and dealt with appropriately.

The FlaskCon organizers reserve the right to carry out any of the following actions relating to a complaint:

The person concerned may be told to stop/modify his/her behavior appropriately and a warning will be issued.

The person concerned may be warned that enforcement action may be taken if the behavior continues.

The person concerned may be asked to leave the venue immediately and/or may be prohibited from continuing to attend FlaskCon (without refund).

The incident may be reported to the local authorities.

<h3 class="text-2xl mt-3">Contacts</h3>
flaskcon@gmail.com - Emails to this address will be received by the Flask Community Workgroup, which is in charge of CoC conflict management.

You can also reach the following members via email, phone or contact them directly:

<ul class="mt-1 mb-1">
    <li>David - david@palletsprojects.com</li>
    <li>Abdur-Rahmaan Janhangeer - arj.python@gmail.com</li>
</ul>

 

This document is based on the EuroPython 2021 CoC which is based on PyCon UK 2015 Code of Conduct and released under a creative commons license.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}