{% extends 'conftheme/2021/parts/base.html'%}
{% block head %}
<title>Final Talk Action | FlaskCon</title>
<style type="text/css">
input[type='text'] {
    width: 90%;
}

textarea {
    width: 90%
}

#summary {
    height: 300px;
}

#description {
    height: 500px;
}

#notes {
    height: 200px;
}
</style>
{% endblock %}
{% block body %}
<p class="pb-16 bg-red-500"></p>
<section class="pb-20 bg-blueGray-200">
    <p class="p-5 bg-transparent"></p>
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="container bg-white rounded-xl shadow-lg transform transition duration-500 p-7">
                <a href="{{ url_for('y.leaderboard', year=2021) }}">
                    <span class="underline p-5">Back</span>    
                </a>
                <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('small-modal-id')">
                    Delete
                </button> <br><br>

                <b>Authors</b><br>
                {% for author in talk.author_list.authors %}
                    {{author.first_name}} {{author.last_name}} <br>
                {% endfor %}
                <br>
                <form method="POST" action="{{ url_for('cfp.final_talk_action', year=year, talk_id=talk_id) }}">
                    {%for field in AdminTalkForm_(obj=talk)%}
                    {%if field.id not in ['csrf_token']%}
                    {{field.label}}<br>
                    {%endif%}
                    {{field}}<br><br>
                    {%endfor%}
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
function toggleModal(modalID) {
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
}
</script>
<div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="small-modal-id">
    <div class="relative w-auto my-6 mx-auto max-w-sm">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                <h3 class="text-3xl font-semibold">
                    Delete?
                </h3>
                
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
                <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                    
                    Are you sure you want to delete "{{talk.title}}"?<br>
                    <form action="{{url_for('cfp.delete_talk', year=2021, talk_id=talk.id)}}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="rounded p-2 bg-red-500 text-white" style="font-weight:bold;">Yes!</button>
                    </form>
                    
                </p>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
                <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('small-modal-id')">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}