{% extends 'conftheme/2021/parts/base.html'%}

{% block head %}
<title>FlaskCon 2021</title>
<style type="text/css">
  a {
    word-wrap: break-word;
  }
</style>
{% endblock %}


{% block body %}
<br><br>

<div class="paper container">
    <div class="row flex-spaces tabs">
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">Submitted Talks</label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Personal Info</label>

  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Tab 3</label>

  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Tab 4</label>

  <div class="content container" id="content1">
    <table class="table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%for t in submitted_talks%}
          <tr>
            {% if t.accepted == 'pending' %}
              {% set badge = '<span class="badge warning"><span class="text-primary">pending</span></span>' %}
            {% elif  t.accepted == 'accepted' %}
             {% set badge = '<span class="badge success">accepted</span>' %}
            {% else %}
              {% set badge = '<span class="badge danger">rejected</span>' %}
            {% endif %}
            <td>{{ t.title }}</td>
            <td>{{ badge | safe }}</td>
            <td>
              <a href="{{ url_for('y.talk_actions', year=year, talk_id=t.id) }}"><button class="btn-warning-primary btn-small">settings</button></a>
            </td>           
          </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <div class="content" id="content2">
    <p>
      ---
    </p>
  </div>
  <div class="content" id="content3">
    <p>
      Bacon ipsum dolor sit amet beef venison beef ribs kielbasa...
    </p>
    <p>
      Brisket meatball turkey short loin boudin leberkas meatloaf...
    </p>
  </div>
  <div class="content" id="content4">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket...
    </p>
  </div>
</div>
</div>
{% endblock %}