{% extends 'conftheme/2021/parts/base.html'%}

{% block head %}
<title>FlaskCon 2021</title>
<style type="text/css">
  a {
    word-wrap: break-word;
  }
  input[type='text']{
        width: 90%;
        display:block;
    }
    input[type='email']{
        width: 90%;
        display:block;
    }
    input[type='submit']{
        display:block;
    }
    textarea{
        width: 90%
    }
    .mb-3, .my-3 {
	    margin-bottom: 1rem !important;
	}
</style>
{% endblock %}


{% block body %}
<br><br>

<div class="paper container">
    <div class="row flex-spaces tabs">
  <input id="tab1" type="radio" name="tabs" {% if checked_tab == 'submited_talks' %} checked {% endif %}>
  <label for="tab1">Submitted Talks</label>

  <input id="tab2" type="radio" name="tabs" {% if checked_tab == 'personal_info' %} checked {% endif %}>
  <label for="tab2">Personal Info</label>

  <input id="tab3" type="radio" name="tabs" {% if checked_tab == 'tab_3' %} checked {% endif %}>
  <label for="tab3">Tab 3</label>

  <input id="tab4" type="radio" name="tabs" {% if checked_tab == 'tab_4' %} checked {% endif %}>
  <label for="tab4">Tab 4</label>

  <div class="content container" id="content1">
    <table class="table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%for t in submitted_talks%}
          <tr>
            {% if t.accepted == 'pending' %}
              {% set badge = '<span class="badge warning"><span class="text-primary">pending</span></span>' %}
            {% elif  t.accepted == 'accepted' %}
             {% set badge = '<span class="badge success">accepted</span>' %}
            {% else %}
              {% set badge = '<span class="badge danger">rejected</span>' %}
            {% endif %}
            <td>{{ t.title }}</td>
            <td>{{ badge | safe }}</td>
            <td>
              <a href="{{ url_for('y.talk_actions', year=year, talk_id=t.id) }}"><button class="btn-warning-primary btn-small">settings</button></a>
            </td>           
          </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <div class="content" id="content2">
    <p>
     <div class="personal_info container">
    <h3>Personal info</h3>
    <form method="POST" action="{{ url_for('profile.edit_profile', year=year) }}">
        <div class="input-group mb-3">
		    <div class="input-group-prepend">
		        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
		    </div>
		    {{ userprofile_form.email() }}
		    {% if userprofile_form.email.errors %}
		        <ul class="errors">
		            {% for error in userprofile_form.email.errors %}
			            <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
		</div>
		<div class="input-group mb-3">
		    <div class="input-group-prepend">
		        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
		    </div>
		    {{ userprofile_form.first_name() }}
		    {% if userprofile_form.first_name.errors %}
		        <ul class="errors">
		            {% for error in userprofile_form.first_name.errors %}
			            <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
		</div>
		<div class="input-group mb-3">
		    <div class="input-group-prepend">
		        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
		    </div>
		    {{ userprofile_form.last_name() }}
		    {% if userprofile_form.last_name.errors %}
		        <ul class="errors">
		            {% for error in userprofile_form.last_nameerrors %}
			            <li>{{ error }}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
		</div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" class="paper-btn btn-primary-outline" value="Submit"/>
    </form>
</div>
    </p>
  </div>
  <div class="content" id="content3">
    <p>
      Bacon ipsum dolor sit amet beef venison beef ribs kielbasa...
    </p>
    <p>
      Brisket meatball turkey short loin boudin leberkas meatloaf...
    </p>
  </div>
  <div class="content" id="content4">
    <p>
      Bacon ipsum dolor sit amet landjaeger sausage brisket...
    </p>
  </div>
</div>
</div>
{% endblock %}