{% extends 'conftheme/2021/parts/base.html'%}

{% block head %}
<title>FlaskCon 2021</title>
{% endblock %}


{% block body %}
  <br>
  
  <div class="paper container">
    <h3>Reviewers</h3>
    {% if reviewers != [] %}
      {% for reviewer in reviewers %}
        <hr>
        <p>
          <b>{{ reviewer.first_name }} {{ reviewer.last_name }}</b><br>
          {% if reviewer.bio %}
            {{ reviewer.bio.replace('\n', '<br>') | safe }}
          {% endif %}
        </p>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}