{% extends 'conftheme/2021/parts/base.html'%}

{% block head %}
<title>FlaskCon 2021</title>
<style type="text/css">
  a {
    word-wrap: break-word;
  }
  #talks{
    height: 300px;
  }
  .modal-body{
    height: 500px;
    overflow-y: scroll;
  }
</style>
{% endblock %}


{% block body %}
<br><br>

<div class="paper container">
    {% if current_user.is_admin %}
    <label class="paper-btn margin btn-small" for="modal-1">+ Day</label>
    <input class="modal-state" id="modal-1" type="checkbox">
    <div class="modal">
      <label class="modal-bg" for="modal-1"></label>
      <div class="modal-body">
        <label class="btn-close" for="modal-1">X</label>
        <h4 class="modal-title">Add day to conference</h4>
        <h5 class="modal-subtitle">Day</h5>
        <p class="modal-text">
          <form method="POST" action="{{ url_for('schedule.add_day', year=year) }}">
            {%for field in DayForm_()%}
            {%if field.id not in ['csrf_token']%}
                    {{field.label}}
                {%endif%}
                {{field}}<br>
            {%endfor%}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn-warning-primary" type="submit">save</button>
            </form>
        </p>
        <label for="modal-1"> ~ Close! ~ </label>
      </div>
    </div>
    {% endif %}
  <br>
  {% for day in schedule.days %}
    <h3>{{ weekmap[day.date.weekday()] }} {{ day.date.day }}/{{ day.date.month }}/{{ day.date.year }}
      {% if current_user.is_admin %}
      <label class="paper-btn margin btn-small" for="modal-2">+ Normal Activity</label>
      <label class="paper-btn margin btn-small" for="modal-3">+ Talk</label>
      {% endif %}
    </h3>


    <div>
          {% set activities = day.get_sorted_activities() %}
          {% for activity_ in activities %}
            {% set activity = activity_[0] %}
            {% if activity.type == 'normal_activity' %}

               {{ activity.start_time }} to {{ activity.end_time }} 
               <label class="paper-btn margin btn-small" for="modal-edit-normal-activity-{{ activity.id }}">edit</label>
               <!-- url_for('schedule.delete_activity', year=year, act_id=activity.id) -->
               <a href="{{ url_for('schedule.delete_activity', year=year, act_id=activity.id) }}" class="paper-btn btn-small btn-danger" onclick="return confirm('Are you sure to delete that activity?')">X</a>
               <br>
                -> {{ activity.text }}<br><br>

                <input class="modal-state" id="modal-edit-normal-activity-{{ activity.id }}" type="checkbox">
                <div class="modal">
                  <label class="modal-bg" for="modal-edit-normal-activity-{{ activity.id }}"></label>
                  <div class="modal-body">
                    <label class="btn-close" for="modal-edit-normal-activity-{{ activity.id }}">X</label>
                    <h4 class="modal-title">Edit activity</h4>
                    <h5 class="modal-subtitle">Normal Activity</h5>
                    <p class="modal-text">
                      <form method="POST" action="{{ url_for('schedule.edit_activity', year=year,
                        act_id=activity.id, act_type='normal_activity') }}">
                        {%for field in NormalActivityForm_(obj=activity)%}
                          {%if field.id not in ['csrf_token']%}
                                {{field.label}}
                            {%endif%}
                            {{field}}<br>
                        {%endfor%}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn-warning-primary" type="submit">save</button>
                        </form>
                    </p>
                    <label for="modal-edit-normal-activity-{{ activity.id }}"> ~ Close! ~ </label>
                  </div>
                </div>

            {% endif %}
            {% if activity.type == 'talk' %}
              {% set talk = activity.get_talk() %}

                {{ activity.start_time }} to {{ activity.end_time }} 
                <label class="paper-btn margin btn-small" for="modal-edit-talk-activity-{{ activity.id }}">edit</label>
                <!--url_for('schedule.delete_activity', year=year, act_id=activity.id) -->
                <a href="{{ url_for('schedule.delete_activity', year=year, act_id=activity.id) }}" class="paper-btn btn-small btn-danger"  onclick="return confirm('Are you sure to delete that activity?')">X</a>
                <br>
                -> {{ talk.title }}
                {% for author in talk.author_list.authors %}
                    {{author.first_name}} {{author.last_name}},
                {% endfor %}
                <br><br>

                <input class="modal-state" id="modal-edit-talk-activity-{{ activity.id }}" type="checkbox">
                <div class="modal">
                  <label class="modal-bg" for="modal-edit-talk-activity-{{ activity.id }}"></label>
                  <div class="modal-body">
                    <label class="btn-close" for="modal-edit-talk-activity-{{ activity.id }}">X</label>
                    <h4 class="modal-title">Edit activity</h4>
                    <h5 class="modal-subtitle">Normal Activity</h5>
                    <p class="modal-text">
                      <form method="POST" action="{{ url_for('schedule.edit_activity', year=year,
                        act_id=activity.id, act_type='talk') }}">
                        {%for field in TalkActivityForm_(obj=activity)%}
                          {%if field.id not in ['csrf_token']%}
                                {{field.label}}
                            {%endif%}
                            {{field}}<br>
                        {%endfor%}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn-warning-primary" type="submit">save</button>
                        </form>
                    </p>
                    <label for="modal-edit-talk-activity-{{ activity.id }}"> ~ Close! ~ </label>
                  </div>
                </div>

            {% endif %}
          {% endfor %}
    </div>


    <input class="modal-state" id="modal-2" type="checkbox">
    <div class="modal">
      <label class="modal-bg" for="modal-2"></label>
      <div class="modal-body">
        <label class="btn-close" for="modal-2">X</label>
        <h4 class="modal-title">Add acivity to day</h4>
        <h5 class="modal-subtitle">Normal Activity</h5>
        <p class="modal-text">
          <form method="POST" action="{{ url_for('schedule.add_activity', year=year, day_id=day.id, act_type='normal_activity') }}">
            {%for field in NormalActivityForm_()%}
              {%if field.id not in ['csrf_token']%}
                    {{field.label}}
                {%endif%}
                {{field}}<br>
            {%endfor%}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn-warning-primary" type="submit">save</button>
            </form>
        </p>
        <label for="modal-2"> ~ Close! ~ </label>
      </div>
    </div>

    <input class="modal-state" id="modal-3" type="checkbox">
    <div class="modal">
      <label class="modal-bg" for="modal-3"></label>
      <div class="modal-body">
        <label class="btn-close" for="modal-3">X</label>
        <h4 class="modal-title">Add Talk to day</h4>
        <h5 class="modal-subtitle">Activity</h5>
        <p class="modal-text">
          <form method="POST" action="{{ url_for('schedule.add_activity', year=year, day_id=day.id, act_type='talk') }}">
                {%for field in TalkActivityForm_()%}
                  {%if field.id not in ['csrf_token']%}
                        {{field.label}}
                    {%endif%}
                    {{field}}<br>
                {%endfor%}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn-warning-primary" type="submit">save</button>
            </form>
        </p>
        <label for="modal-3"> ~ Close! ~ </label>
      </div>
    </div>
  {% endfor %}


<!--
<h3>22 Nov 2021</h3>
<table>
  <thead>

  </thead>
  <tbody>
    <tr>
      <td>10:20 AM</td>
      <td>Bob Dylan ewrtgre r3e tg3ert  3tgr </td>
      <td>Bob Dylan</td>
    </tr>
    <tr>
      <td>10:30 AM</td>
      <td>Eric Clapton wrgf retg r3 tr3e tg</td>
      <td>Bob Dylan</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Daniel Kahneman</td>
      <td>Bob Dylan</td>
    </tr>
  </tbody>
</table>
-->
</div>

{% endblock %}