
<p class="h2">Login</p>

<div class="form-group mt-3 mb-0 text-left">
    {{ form.email.label }}
</div>
<div class="input-group mb-1">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
    </div>
    {{ form.email() }}
</div>
{% if form.email.errors %}
    <div class="text-left">
        {% for error in form.email.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
{% endif %}

<div class="form-group mt-3 mb-0 text-left">
    {{ form.password.label }}
</div>
<div class="input-group mb-1">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-key"></i></span>
    </div>
    {{ form.password() }}
</div>
{% if form.password.errors %}
    <div class="text-left">
        {% for error in form.password.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
{% endif %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

<input
    type="hidden"
    name="next"
    value="{{ request.args.get('next', '') }}"
/>
<input type="submit" name="" value="submit" class="btn btn-info mt-3">
