{% set nav_bg_color = '' %}
{% extends 'conftheme/2021/parts/base.html'%}
{% block head %}
<title>Index | FlaskCon</title>
{% endblock %}
{% block body %}
<div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('https://images.unsplash.com/photo-1588196749597-9ff075ee6b5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80');
          ">
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
    </div>
    <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                <div class="pr-12">
                    <h1 class="text-white font-semibold text-5xl">
                        FLASKCON 2021
                    </h1>
                    <p class="mt-4 text-lg text-blueGray-200 content-center">
                        6, 7, 8, 9 and 12 th of December 2021<br>
                    </p>
                    <img style="display: inline-block;" src="{{ url_for('static', filename='flaskcon2021.png') }}" width="200" height="200">
                </div>
            </div>
        </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<section class="pb-20 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400">
                            <i class="fa fa-dollar-sign"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Raise money for the Pallets and PSF</h6>
                        <p class="mt-2 mb-4 text-blueGray-500">
                            We are paid this year ... just to raise money to gap in the loss of revenues even be it by a little!
                        </p>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400">
                            <i class="fa fa-microphone"></i>
                        </div>
                        <h6 class="text-xl font-semibold">Terrific Speakers</h6>
                        <p class="mt-2 mb-4 text-blueGray-500">
                            Be prepared to experience flask experts from around the world ~
                        </p>
                    </div>
                </div>
            </div>
            <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                    <div class="px-4 py-5 flex-auto">
                        <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                            <i class="fa fa-paper-plane"></i>
                        </div>
                        <h6 class="text-xl font-semibold">CFP</h6>
                        <p class="mt-2 mb-4 text-blueGray-500">
                            Start: <span class="p-1 bg-yellow-200">{{ conf.cfp_start_repr() }}</span> 0:00 AM GMT<br>
                            End: <span class="p-1 bg-yellow-200">{{ conf.cfp_end_repr() }}</span> 0:00 AM GMT
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap items-center mt-32">
            <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                <div class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                    <i class="fa fa-calendar-alt text-xl"></i>
                </div>
                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                    A week full of fun
                </h3>
                <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
                    We are planning to gouche in 30 talks and one day of community projects.
                    To that end we'd be happy to put in a whole week of conference.
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600">
                    The conference has the aim of exploring the Flask community itself. It's the opportunity to meet the whole Flask landscape as well to get pull in the cutting edge features of Flask.
                </p>
                <a href="{{ url_for('y.schedule', year=2021) }}" class="font-bold text-blueGray-700 mt-8"><button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                        Check Schedule
                    </button></a>
            </div>
            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-500">
                    <img alt="..." src="https://images.unsplash.com/photo-1521161908453-1cacd0215437?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" class="w-full align-middle rounded-t-lg" />
                    <blockquote class="relative p-8 mb-4">
                        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="absolute left-0 w-full block h-95-px -top-94-px">
                            <polygon points="-30,95 583,95 583,65" class="text-pink-500 fill-current"></polygon>
                        </svg>
                        <h4 class="text-xl font-bold text-white">
                            Meet folks!
                        </h4>
                        <p class="text-md font-light mt-2 text-white">
                            The live QnA as well as talk setup maximises interaction time with speakers. Join a fun, casual ride and make flask friends with folks all over the world!
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="relative py-20">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20" style="transform: translateZ(0px)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container mx-auto px-4">
        <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
                <img alt="..." class="max-w-full rounded-lg shadow-lg" src="https://images.unsplash.com/photo-1610244767159-0f9797ff1926?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" />
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                <div class="md:pr-12">
                    <div class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300">
                        <i class="fa fa-ticket-alt"></i>
                    </div>
                    <h3 class="text-3xl font-semibold">Book your tickets</h3>
                    <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
                        The conf this year is an opportunity not to miss!
                        Next year it's expected to become a regular conf.
                        The fare this year rocks. Be sure you are seated!
                    </p><br><br>
                    <a href="#" class="font-bold text-blueGray-700 mt-8"><button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                            Buy pass
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold">Here are our Reviewers</h2>
                <p class="text-lg leading-relaxed m-4 text-blueGray-500">
                    According to the National Oceanic and Atmospheric
                    Administration, Ted, Scambos, NSIDClead scentist, puts the
                    potentially record maximum.
                </p>
            </div>
        </div>
        <div class="flex flex-wrap">
            {% if reviewers != [] %}
            {% for reviewer in reviewers %}
            <hr>
            <p>
                <b></b><br>
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                    <div class="px-6">
                        <img alt="..." src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=785&q=80" class="shadow-lg rounded-full mx-auto max-w-120-px" />
                        <div class="pt-6 text-center">
                            <h5 class="text-xl font-bold">{{ reviewer.first_name }} {{ reviewer.last_name }}</h5>
                            <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                                {% if reviewer.bio %}
                                {{ reviewer.bio.replace('\n', '<br>') | safe }}
                                {% endif %}
                            </p>
                            <div class="mt-6">
                                <button class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                                    <i class="fab fa-twitter"></i></button><button class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                                    <i class="fab fa-facebook-f"></i></button><button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1" type="button">
                                    <i class="fab fa-dribbble"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="pb-20 relative block bg-blueGray-800">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20" style="transform: translateZ(0px)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-800 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold text-white">Build something</h2>
                <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">
                    Put the potentially record low maximum sea ice extent tihs year
                    down to low ice. According to the National Oceanic and
                    Atmospheric Administration, Ted, Scambos.
                </p>
            </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
            <div class="w-full lg:w-3/12 px-4 text-center">
                <div class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                    <i class="fas fa-medal text-xl"></i>
                </div>
                <h6 class="text-xl mt-5 font-semibold text-white">
                    Excelent Services
                </h6>
                <p class="mt-2 mb-4 text-blueGray-400">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
                <div class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                    <i class="fas fa-poll text-xl"></i>
                </div>
                <h5 class="text-xl mt-5 font-semibold text-white">
                    Grow your market
                </h5>
                <p class="mt-2 mb-4 text-blueGray-400">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
            </div>
            <div class="w-full lg:w-3/12 px-4 text-center">
                <div class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                    <i class="fas fa-lightbulb text-xl"></i>
                </div>
                <h5 class="text-xl mt-5 font-semibold text-white">Launch time</h5>
                <p class="mt-2 mb-4 text-blueGray-400">
                    Some quick example text to build on the card title and make up
                    the bulk of the card's content.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="relative block py-24 lg:pt-0 bg-blueGray-800">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
            <div class="w-full lg:w-6/12 px-4">
                <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200">
                    <div class="flex-auto p-5 lg:p-10">
                        <h4 class="text-2xl font-semibold">Want to work with us?</h4>
                        <p class="leading-relaxed mt-1 mb-4 text-blueGray-500">
                            Complete this form and we will get back to you in 24 hours.
                        </p>
                        <div class="relative w-full mb-3 mt-8">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="full-name">Full Name</label><input type="text" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Full Name" />
                        </div>
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="email">Email</label><input type="email" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Email" />
                        </div>
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="message">Message</label><textarea rows="4" cols="80" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Type a message..."></textarea>
                        </div>
                        <div class="text-center mt-6">
                            <button class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
                                Send Message
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}